@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

:root{
    --main-color:#g1a262a;
    --black:#000;
    --bg:#fff;
    --border:.1rem solid #040403;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; 
    /* border: none;   */
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth; 
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background:#201f1e;
}

section{
    padding:10rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #000000;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo h1{
    display: flex;
    justify-content: center;
    place-items: center;
    font-size:4.5rem;
    letter-spacing: 15px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 
    0 0 5px #e4bc70,
    0 0 15px #e4bc70,
    0 0 20px #e4bc70,
    0 0 40px #e4bc70,
    0 0 60px #ff0000,
    0 0 10px #e4bc70,
    0 0 98px #ff0000;
    animation: blink 3s infinite;
   }

   @keyframes blink {
    20%,
    40%,
    55%{
      color: #111;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    100%
    {
        text-shadow:
        0 0 5px #e4bc70,
        0 0 15px #e4bc70,
        0 0 20px #e4bc70,
        0 0 40px #e4bc70,
        0 0 60px #ff0000,
        0 0 10px #e4bc70,
        0 0 98px #ff0000;
        color:#fff;
    }

}

.header .navbar a{
    margin: 0 3rem;
    font-size: 2.3rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--black);
    border-bottom: .1rem solid var(--black);
    padding-bottom: .5rem;
} 

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--black);
}

#menu-btn{
    display: none;
}  

.home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(Me.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home .content p{
    font-size: 2rem;
    font-weight: 600rem;
    line-height: 2.8;
    color: #fff;
}



.footer{
    background: var(--black);
    text-align: center;

}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2rem;
   color: #fff;
   border: var(--border);
   margin: .3rem;
   border-radius: 50%;
}

.footer .share a:hover{
   background-color:#201f1e;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: #201f1e;
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}






































@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }


    section{
        padding:12rem 7%;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }  
    
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }



    .home{
        background-position: left;
        justify-content: center;
        text-align: center ;
    }

    
     .home .content h3{
        font-size: 4.5rem;
    } 

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}